@media screen and ( max-width:1120px) {


.nav-mobile {
    display: flex;

}
.mobile__link {
    /* display: block; */
    
}
    /* ============== */

.nav-deskstop {
    display: none;
}
    /* header-section start */

.header-section {
    padding-top: 60px;
    height: 450px;
    /* padding-bottom: 50px; */
}
.header-text {
    width: 100%;
    flex-direction: column;
}
.header-text h2 {
    font-size: 20px;
    font-weight: 20;
    line-height: normal;
}
.header-text p {
    font-weight: lighter;
    line-height: 1.2;
    font-size: 15px;
}

    /* header-section ends */


    /* explore start here */
.explore {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    }
.explore-text {
    /* border: 3px solid black; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-left: 40px;
}
.explore-textholder {
    /* border: 3px solid blue; */
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    height: 200px;
    width: 200px;
    
    
    
}
.explore-textholder button {
    width: 120px;
    font-size: 10px;
    padding-top: 15px;
}

.explore-textholder h3 {
    padding-top: 20px;
    font-size: 25px;
}
.explore-textholder p {
    align-items: baseline;
    font-size: 10px;
    padding: 20px 0;
    
}

.explore-link {
    align-items: center;

    
}
    /* explore end here */


/* footer starts */
.mobile__footer {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 5px;

}


footer {
    display: none;
/* footer ends */
}
}